body {
}

.all {
    width: 90%;
    margin: 0 auto;
}

.url {
    width: calc(100% - 42px);
    width : -webkit-calc(100% - 42px);
    display: inline-block;
}

.tokoBtm {
    display: inline-block;
}
