body {
}

.all {
    width: 90%;
    margin: 0 auto;
}

form {
    white-space: nowrap;
}

.url {
    width: calc(100% - 74px);
    width : -webkit-calc(100% - 74px);
}

.tokoBtm {
    width: 55px;
}

.tab {
    white-space: nowrap;
    overflow-x: auto;
}

.tab div {
    margin-right: -4px;
    padding: 2px 6px;
    display: inline-block;
    color: #ffffff;
    border-radius: 6px 6px 0 0;
    cursor: pointer;
}

.tab div:nth-child(5n-4) {
    background-color: #ff0000;
}
.tab div:nth-child(5n-3) {
    background-color: #ffbf00;
}
.tab div:nth-child(5n-2) {
    background-color: #11c701;
}
.tab div:nth-child(5n-1) {
    background-color: #2400ff;
}
.tab div:nth-child(5n) {
    background-color: #9300d9;
}
