body {
    margin: 0;
    font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.main {
    display: none;
}

.menu {
    position: absolute;
    left: -70%;
    width: 70%;
    height: 100%;
    background-color: #fff;
    z-index: 20;
    transition: all 300ms 0s ease;
}

.menu div {
    padding: 10px;
    border-bottom: 1px solid #999;
}

.modal {
    position: absolute;
    left: -100%;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    z-index: 10;
    transition: all 300ms 0s ease;
}

.all {
    width: 100%;
    margin: 0 auto;
}

.main form {
    margin: 0 8px 10px;
    white-space: nowrap;
}

.url, .genreSelect {
    width: calc(100% - 74px);
    width : -webkit-calc(100% - 74px);
    height: 26px;
    padding: 4px;
}

.tokoBtm {
    width: 55px;
    height: 30px;
}

.tab {
    white-space: nowrap;
    overflow-x: auto;
    border-bottom: 4px solid #e43000;
}

.tab img {
    width: 24px;
    padding: 3px 10px;
}

.tab .active {
    padding-top: 10px!important;
    padding-bottom: 8px!important;
}

.tab div {
    padding: 6px 8px;
    display: inline-block;
    font-weight: bold;
    color: #ffffff;
    border-radius: 8px 8px 0 0;
    cursor: pointer;
    vertical-align: bottom;
}

.tab div.setting {
    background-color: #a2a2a2!important;
    margin-left: 6px;
}

.tab div:nth-of-type(5n-4) {
    background-color: #e43000;
}
.tab div:nth-of-type(5n-3) {
    background-color: #ffbf00;
}
.tab div:nth-of-type(5n-2) {
    background-color: #33af59;
}
.tab div:nth-of-type(5n-1) {
    background-color: #0057ff;
}
.tab div:nth-of-type(5n) {
    background-color: #9300d9;
}

.content {
    overflow-y: auto;
    height: calc(100vh - 46px);
}

.first {
    display: none;
}

.first h4 {
    margin: 14px;
}

.select label, .content .setting div div:not(.deleteTab):not(.addTab) {
    display: block;
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;
    margin-bottom: -1px;
    padding: 10px;
}

.content img {
    height: 20px;
    margin-top: -3px;
    vertical-align: middle;
}

.content img.minus, .content img.plus {
    margin-left: 4px;
    margin-right: 10px;
}

.content img.move {
    position: absolute;
    top: 15px;
    right: 16px;
}

.content .setting .tabInSetting {
    margin-bottom: 1px;
}

.content .setting .tabInSetting div {
    padding: 10px 0;
    width: 50%;
    display: inline-block;
    text-align: center;
    border-bottom: 3px solid #808080;
    color: #808080;
}

.content .setting .tabInSetting .active {
    border-bottom: 3px solid #239abf;
    color: #239abf;
    font-weight: bold;
}

.content .setting div div {
    position: relative;
}
/*
.content .setting div:after {
    content: "";
    background-image: url(/img/menu.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0;
    position: relative;
    top: 2px;
    right: 4px;
    float: right;
}
*/
.select label input {
    margin-right: 8px;
}

#firstBtn {
    margin: 20px 10px 10px;
    width: calc(100% - 20px);
    height: 40px;
    font-size: 1em
}
